build/BAT/
build/BATBUILD/
build/BAT_make_wrapper.sh
build/CMakeCache.txt
build/CMakeFiles/
build/ComputeObservables/
build/EW/
build/EventGeneration/
build/Flavour/
build/HEPfit.h
build/HEPfit.pc
build/HEPfit/
build/HiggsExtensions/
build/InputParser/
build/LoopFunctions/
build/Makefile
build/MonteCarlo/
build/NewPhysics/
build/Observables/
build/StandardModel/
build/cmake_install.cmake
build/cmake_uninstall.cmake
build/gslpp/
build/hepfit-config
build/install_manifest.txt
build/libHEPfit.a
build/examples/config/
build/examples/charm/config/
build/FlavourWilsonCoefficient/
build/GeneralSUSY/
build/InputFiles/
build/LeptonFlavour/
build/SUSY/
build/SUSYMassInsertion/
build/THDM/
build/BAT-1.0.0-RC1.tar.gz
build/BAT
build/bin
build/include
build/lib
THDM/src/THDMcache.cpp
*ninja*
